.app {
  width: 100%;
  min-height: 100vh;
  position: relative;
}

.main-content {
  width: 100%;
  min-height: 100vh;
  padding-right: 6rem;
}

@media (max-width: 768px) {
  .main-content {
    padding-right: 0;
    padding-bottom: 6rem;
  }
}
